USE [master]
GO
/****** Object:  Database [ClinicaMedicala]    Script Date: 15.05.2026 16:31:21 ******/
CREATE DATABASE [ClinicaMedicala]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaMedicala', FILENAME = N'C:\Users\MXB\ClinicaMedicala.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaMedicala_log', FILENAME = N'C:\Users\MXB\ClinicaMedicala_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaMedicala].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaMedicala]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administratori]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administratori](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Administratori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asistenti]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistenti](
	[Id] [int] NOT NULL,
	[Departament] [nvarchar](100) NOT NULL,
	[Tura] [int] NOT NULL,
 CONSTRAINT [PK_Asistenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autentificari]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autentificari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataOra] [datetime2](7) NOT NULL,
	[Succes] [bit] NOT NULL,
	[AdresaIp] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[UtilizatorId] [int] NOT NULL,
 CONSTRAINT [PK_Autentificari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultatii]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultatii](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[SimptomePrezentate] [nvarchar](1000) NULL,
	[DiagnosticICD10] [nvarchar](20) NULL,
	[TratamentRecomandat] [nvarchar](1000) NULL,
	[ObservatiiMedic] [nvarchar](1000) NULL,
	[FisaMedicalaId] [int] NOT NULL,
	[MedicId] [int] NOT NULL,
	[ProgramareId] [int] NULL,
 CONSTRAINT [PK_Consultatii] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DependenteResurse]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DependenteResurse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResursaPrincipalaId] [int] NOT NULL,
	[ResursaCerutaId] [int] NOT NULL,
	[Descriere] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DependenteResurse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumenteMedicale]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumenteMedicale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipDocument] [int] NOT NULL,
	[CaleFisier] [nvarchar](500) NOT NULL,
	[DataIncarcare] [datetime2](7) NOT NULL,
	[Observatii] [nvarchar](1000) NULL,
	[PacientId] [int] NOT NULL,
	[MedicId] [int] NULL,
 CONSTRAINT [PK_DocumenteMedicale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiseMedicale]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiseMedicale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataCreare] [datetime2](7) NOT NULL,
	[IstoricBoliCronice] [nvarchar](2000) NULL,
	[AntecedenteFamiliale] [nvarchar](1000) NULL,
	[GrupaDeRisc] [nvarchar](100) NULL,
	[PacientId] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FiseMedicale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicAsistenti]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicAsistenti](
	[AsistentiId] [int] NOT NULL,
	[MediciId] [int] NOT NULL,
 CONSTRAINT [PK_MedicAsistenti] PRIMARY KEY CLUSTERED 
(
	[AsistentiId] ASC,
	[MediciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medici]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medici](
	[Id] [int] NOT NULL,
	[Specializare] [nvarchar](100) NOT NULL,
	[CodParafa] [nvarchar](6) NOT NULL,
	[GradProfesional] [int] NOT NULL,
	[CostConsultatie] [decimal](18, 2) NOT NULL,
	[NumarContractCAS] [nvarchar](50) NULL,
 CONSTRAINT [PK_Medici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicPacienti]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicPacienti](
	[MediciId] [int] NOT NULL,
	[PacientiId] [int] NOT NULL,
 CONSTRAINT [PK_MedicPacienti] PRIMARY KEY CLUSTERED 
(
	[MediciId] ASC,
	[PacientiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacienti]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacienti](
	[Id] [int] NOT NULL,
	[CNP] [nvarchar](13) NOT NULL,
	[DataNastere] [datetime2](7) NOT NULL,
	[AsiguratCNAS] [bit] NOT NULL,
	[GrupaSanguina] [int] NOT NULL,
	[AlergiiCunoscute] [nvarchar](500) NULL,
	[ContactUrgentaNume] [nvarchar](150) NOT NULL,
	[ContactUrgentaTelefon] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Pacienti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerioadeMentenanta]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerioadeMentenanta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResursaId] [int] NOT NULL,
	[Inceput] [datetime2](7) NOT NULL,
	[Sfarsit] [datetime2](7) NOT NULL,
	[Descriere] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PerioadeMentenanta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programari]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataStart] [datetime2](7) NOT NULL,
	[DataEnd] [datetime2](7) NOT NULL,
	[MotivVizita] [nvarchar](500) NOT NULL,
	[TipProgramare] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[MotivAnulare] [nvarchar](500) NULL,
	[NotificareTrimisa] [bit] NOT NULL,
	[CanalNotificare] [int] NULL,
	[DataCreare] [datetime2](7) NOT NULL,
	[PacientId] [int] NOT NULL,
	[MedicId] [int] NOT NULL,
	[AsistentId] [int] NULL,
	[ResursaId] [int] NULL,
 CONSTRAINT [PK_Programari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratinguri]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratinguri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Scor] [int] NOT NULL,
	[Comentariu] [nvarchar](1000) NULL,
	[Data] [datetime2](7) NOT NULL,
	[Moderat] [bit] NOT NULL,
	[Vizibil] [bit] NOT NULL,
	[PacientId] [int] NOT NULL,
	[MedicId] [int] NOT NULL,
	[AcordatDeMedic] [bit] NOT NULL,
 CONSTRAINT [PK_Ratinguri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReguliConsultatii]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReguliConsultatii](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipProgramare] [int] NOT NULL,
	[NecesitaAsistent] [bit] NOT NULL,
	[Descriere] [nvarchar](500) NULL,
 CONSTRAINT [PK_ReguliConsultatii] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResursaSpecializare]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResursaSpecializare](
	[ResurseId] [int] NOT NULL,
	[SpecializariId] [int] NOT NULL,
 CONSTRAINT [PK_ResursaSpecializare] PRIMARY KEY CLUSTERED 
(
	[ResurseId] ASC,
	[SpecializariId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resurse]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resurse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [nvarchar](150) NOT NULL,
	[Tip] [int] NOT NULL,
	[Stare] [int] NOT NULL,
	[Activ] [bit] NOT NULL,
	[NumarInventar] [nvarchar](50) NOT NULL,
	[Locatie] [nvarchar](100) NULL,
	[DataUltimaRevizie] [datetime2](7) NOT NULL,
	[DataScadentaRevizie] [datetime2](7) NOT NULL,
	[AdministratorId] [int] NOT NULL,
 CONSTRAINT [PK_Resurse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializari]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Descriere] [nvarchar](500) NULL,
	[Activ] [bit] NOT NULL,
 CONSTRAINT [PK_Specializari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizatori]    Script Date: 15.05.2026 16:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizatori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Prenume] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[ParolaHash] [nvarchar](max) NOT NULL,
	[Telefon] [nvarchar](15) NOT NULL,
	[Adresa] [nvarchar](250) NOT NULL,
	[Rol] [int] NOT NULL,
	[StatusCont] [bit] NOT NULL,
	[DataCreareCont] [datetime2](7) NOT NULL,
	[ResetToken] [nvarchar](128) NULL,
	[ResetTokenExpires] [datetime2](7) NULL,
 CONSTRAINT [PK_Utilizatori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260513113704_InitialCreate', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260513125123_AddAcordatDeMedicPeRating', N'10.0.2')
GO
INSERT [dbo].[Administratori] ([Id]) VALUES (7)
GO
INSERT [dbo].[Asistenti] ([Id], [Departament], [Tura]) VALUES (10, N'Cardiologie', 0)
INSERT [dbo].[Asistenti] ([Id], [Departament], [Tura]) VALUES (13, N'Chirurgie', 1)
GO
SET IDENTITY_INSERT [dbo].[Autentificari] ON 

INSERT [dbo].[Autentificari] ([Id], [DataOra], [Succes], [AdresaIp], [UserAgent], [UtilizatorId]) VALUES (72, CAST(N'2026-05-15T07:58:42.1227072' AS DateTime2), 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 7)
INSERT [dbo].[Autentificari] ([Id], [DataOra], [Succes], [AdresaIp], [UserAgent], [UtilizatorId]) VALUES (73, CAST(N'2026-05-15T08:02:06.4791150' AS DateTime2), 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 7)
INSERT [dbo].[Autentificari] ([Id], [DataOra], [Succes], [AdresaIp], [UserAgent], [UtilizatorId]) VALUES (74, CAST(N'2026-05-15T08:07:56.4888485' AS DateTime2), 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 7)
SET IDENTITY_INSERT [dbo].[Autentificari] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultatii] ON 

INSERT [dbo].[Consultatii] ([Id], [Data], [SimptomePrezentate], [DiagnosticICD10], [TratamentRecomandat], [ObservatiiMedic], [FisaMedicalaId], [MedicId], [ProgramareId]) VALUES (4, CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), N'problema', NULL, NULL, N'Consultație din programarea Consult_Initial (15.05.2026 12:38).', 3, 8, 9)
SET IDENTITY_INSERT [dbo].[Consultatii] OFF
GO
SET IDENTITY_INSERT [dbo].[FiseMedicale] ON 

INSERT [dbo].[FiseMedicale] ([Id], [DataCreare], [IstoricBoliCronice], [AntecedenteFamiliale], [GrupaDeRisc], [PacientId], [LastUpdated]) VALUES (3, CAST(N'2026-05-15T09:38:44.2366805' AS DateTime2), NULL, NULL, NULL, 9, CAST(N'2026-05-15T09:38:44.2862955' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FiseMedicale] OFF
GO
INSERT [dbo].[Medici] ([Id], [Specializare], [CodParafa], [GradProfesional], [CostConsultatie], [NumarContractCAS]) VALUES (8, N'Cardiologie', N'2345', 1, CAST(167.00 AS Decimal(18, 2)), N'778')
INSERT [dbo].[Medici] ([Id], [Specializare], [CodParafa], [GradProfesional], [CostConsultatie], [NumarContractCAS]) VALUES (11, N'Chirurgie', N'123456', 0, CAST(200.00 AS Decimal(18, 2)), N'233')
GO
INSERT [dbo].[Pacienti] ([Id], [CNP], [DataNastere], [AsiguratCNAS], [GrupaSanguina], [AlergiiCunoscute], [ContactUrgentaNume], [ContactUrgentaTelefon]) VALUES (9, N'6020105121344', CAST(N'2001-02-01T00:00:00.0000000' AS DateTime2), 0, 0, NULL, N'Popescu Andrei', N'0711334455')
INSERT [dbo].[Pacienti] ([Id], [CNP], [DataNastere], [AsiguratCNAS], [GrupaSanguina], [AlergiiCunoscute], [ContactUrgentaNume], [ContactUrgentaTelefon]) VALUES (12, N'1234567891011', CAST(N'2000-11-11T00:00:00.0000000' AS DateTime2), 0, 4, NULL, N'Nicusor', N'200001111')
GO
SET IDENTITY_INSERT [dbo].[Programari] ON 

INSERT [dbo].[Programari] ([Id], [DataStart], [DataEnd], [MotivVizita], [TipProgramare], [Status], [MotivAnulare], [NotificareTrimisa], [CanalNotificare], [DataCreare], [PacientId], [MedicId], [AsistentId], [ResursaId]) VALUES (9, CAST(N'2026-05-15T12:38:10.0340000' AS DateTime2), CAST(N'2026-05-15T13:08:10.0340000' AS DateTime2), N'problema', 0, 2, NULL, 1, NULL, CAST(N'2026-05-15T09:38:26.3415433' AS DateTime2), 9, 8, NULL, NULL)
INSERT [dbo].[Programari] ([Id], [DataStart], [DataEnd], [MotivVizita], [TipProgramare], [Status], [MotivAnulare], [NotificareTrimisa], [CanalNotificare], [DataCreare], [PacientId], [MedicId], [AsistentId], [ResursaId]) VALUES (10, CAST(N'2026-05-16T09:00:00.0000000' AS DateTime2), CAST(N'2026-05-16T10:00:00.0000000' AS DateTime2), N'vizita', 1, 0, NULL, 0, NULL, CAST(N'2026-05-15T09:39:14.6158769' AS DateTime2), 9, 8, NULL, NULL)
INSERT [dbo].[Programari] ([Id], [DataStart], [DataEnd], [MotivVizita], [TipProgramare], [Status], [MotivAnulare], [NotificareTrimisa], [CanalNotificare], [DataCreare], [PacientId], [MedicId], [AsistentId], [ResursaId]) VALUES (11, CAST(N'2026-05-16T09:00:00.0000000' AS DateTime2), CAST(N'2026-05-16T10:00:00.0000000' AS DateTime2), N'control  de rutina', 1, 5, NULL, 0, NULL, CAST(N'2026-05-15T12:11:37.0366010' AS DateTime2), 9, 11, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Programari] OFF
GO
INSERT [dbo].[ResursaSpecializare] ([ResurseId], [SpecializariId]) VALUES (2, 3)
INSERT [dbo].[ResursaSpecializare] ([ResurseId], [SpecializariId]) VALUES (5, 3)
INSERT [dbo].[ResursaSpecializare] ([ResurseId], [SpecializariId]) VALUES (3, 5)
GO
SET IDENTITY_INSERT [dbo].[Resurse] ON 

INSERT [dbo].[Resurse] ([Id], [Denumire], [Tip], [Stare], [Activ], [NumarInventar], [Locatie], [DataUltimaRevizie], [DataScadentaRevizie], [AdministratorId]) VALUES (2, N'Ecograf', 1, 0, 1, N'2001', N'Etaj 2, Camera 7', CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2027-05-15T00:00:00.0000000' AS DateTime2), 7)
INSERT [dbo].[Resurse] ([Id], [Denumire], [Tip], [Stare], [Activ], [NumarInventar], [Locatie], [DataUltimaRevizie], [DataScadentaRevizie], [AdministratorId]) VALUES (3, N'Aparat RMN', 1, 0, 1, N'2008', N'Etaj 2, Camera 1', CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2027-05-15T00:00:00.0000000' AS DateTime2), 7)
INSERT [dbo].[Resurse] ([Id], [Denumire], [Tip], [Stare], [Activ], [NumarInventar], [Locatie], [DataUltimaRevizie], [DataScadentaRevizie], [AdministratorId]) VALUES (4, N'Cabinet Dermatologie', 0, 0, 1, N'2111', N'Parter, Camera 7', CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2027-05-15T00:00:00.0000000' AS DateTime2), 7)
SET IDENTITY_INSERT [dbo].[Resurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializari] ON 

INSERT [dbo].[Specializari] ([Id], [Nume], [Descriere], [Activ]) VALUES (1, N'Medicină de familie', NULL, 1)
INSERT [dbo].[Specializari] ([Id], [Nume], [Descriere], [Activ]) VALUES (2, N'Medicină internă', NULL, 1)
INSERT [dbo].[Specializari] ([Id], [Nume], [Descriere], [Activ]) VALUES (3, N'Cardiologie', NULL, 1)
SET IDENTITY_INSERT [dbo].[Specializari] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilizatori] ON 

INSERT [dbo].[Utilizatori] ([Id], [Nume], [Prenume], [Email], [ParolaHash], [Telefon], [Adresa], [Rol], [StatusCont], [DataCreareCont], [ResetToken], [ResetTokenExpires]) VALUES (7, N'Dan', N'Vasilescu', N'admin.dan.vasilescu@clinica.ro', N'$2a$12$8jJDgaIMHcVoadrsQ1l2suFAEbgHA0vkE5JZP/4I0Glp5zdhuCuz2', N'3325435546', N'Craiova', 3, 1, CAST(N'2026-05-15T07:57:42.3870660' AS DateTime2), NULL, NULL)
INSERT [dbo].[Utilizatori] ([Id], [Nume], [Prenume], [Email], [ParolaHash], [Telefon], [Adresa], [Rol], [StatusCont], [DataCreareCont], [ResetToken], [ResetTokenExpires]) VALUES (8, N'Popescu', N'Cristian', N'cristian.popescu@clinica.ro', N'$2a$12$YOzLOlmgxTeXKr3auHJZtOESNWXfRIDtxCiPT.U53T/YV8pYr6h9W', N'3534543565', N'Tg-Jiu', 1, 1, CAST(N'2026-05-15T09:03:02.0097866' AS DateTime2), NULL, NULL)
INSERT [dbo].[Utilizatori] ([Id], [Nume], [Prenume], [Email], [ParolaHash], [Telefon], [Adresa], [Rol], [StatusCont], [DataCreareCont], [ResetToken], [ResetTokenExpires]) VALUES (9, N'Popescu', N'Maria', N'popescu.maria@email.com', N'$2a$12$vrNrKTRhCCSa8YZ3Hb2/RedUbKiLKQ/A5.ayVbRj8ECWbbao/nzz6', N'0782123579', N'Strada Primaverii, Oradea', 0, 1, CAST(N'2026-05-15T09:37:44.4359440' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Utilizatori] OFF
GO
/****** Object:  Index [IX_Autentificari_UtilizatorId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Autentificari_UtilizatorId] ON [dbo].[Autentificari]
(
	[UtilizatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultatii_FisaMedicalaId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Consultatii_FisaMedicalaId] ON [dbo].[Consultatii]
(
	[FisaMedicalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultatii_MedicId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Consultatii_MedicId] ON [dbo].[Consultatii]
(
	[MedicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultatii_ProgramareId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Consultatii_ProgramareId] ON [dbo].[Consultatii]
(
	[ProgramareId] ASC
)
WHERE ([ProgramareId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DependenteResurse_ResursaCerutaId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_DependenteResurse_ResursaCerutaId] ON [dbo].[DependenteResurse]
(
	[ResursaCerutaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DependenteResurse_ResursaPrincipalaId_ResursaCerutaId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DependenteResurse_ResursaPrincipalaId_ResursaCerutaId] ON [dbo].[DependenteResurse]
(
	[ResursaPrincipalaId] ASC,
	[ResursaCerutaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumenteMedicale_MedicId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_DocumenteMedicale_MedicId] ON [dbo].[DocumenteMedicale]
(
	[MedicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumenteMedicale_PacientId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_DocumenteMedicale_PacientId] ON [dbo].[DocumenteMedicale]
(
	[PacientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FiseMedicale_PacientId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FiseMedicale_PacientId] ON [dbo].[FiseMedicale]
(
	[PacientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicAsistenti_MediciId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_MedicAsistenti_MediciId] ON [dbo].[MedicAsistenti]
(
	[MediciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Medici_CodParafa]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Medici_CodParafa] ON [dbo].[Medici]
(
	[CodParafa] ASC
)
WHERE ([CodParafa] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicPacienti_PacientiId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_MedicPacienti_PacientiId] ON [dbo].[MedicPacienti]
(
	[PacientiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pacienti_CNP]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pacienti_CNP] ON [dbo].[Pacienti]
(
	[CNP] ASC
)
WHERE ([CNP] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerioadeMentenanta_ResursaId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_PerioadeMentenanta_ResursaId] ON [dbo].[PerioadeMentenanta]
(
	[ResursaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programari_AsistentId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Programari_AsistentId] ON [dbo].[Programari]
(
	[AsistentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programari_MedicId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Programari_MedicId] ON [dbo].[Programari]
(
	[MedicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programari_PacientId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Programari_PacientId] ON [dbo].[Programari]
(
	[PacientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programari_ResursaId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Programari_ResursaId] ON [dbo].[Programari]
(
	[ResursaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratinguri_MedicId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Ratinguri_MedicId] ON [dbo].[Ratinguri]
(
	[MedicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratinguri_PacientId_MedicId_AcordatDeMedic]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Ratinguri_PacientId_MedicId_AcordatDeMedic] ON [dbo].[Ratinguri]
(
	[PacientId] ASC,
	[MedicId] ASC,
	[AcordatDeMedic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReguliConsultatii_TipProgramare]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ReguliConsultatii_TipProgramare] ON [dbo].[ReguliConsultatii]
(
	[TipProgramare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResursaSpecializare_SpecializariId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_ResursaSpecializare_SpecializariId] ON [dbo].[ResursaSpecializare]
(
	[SpecializariId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resurse_AdministratorId]    Script Date: 15.05.2026 16:31:21 ******/
CREATE NONCLUSTERED INDEX [IX_Resurse_AdministratorId] ON [dbo].[Resurse]
(
	[AdministratorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resurse_Denumire]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Resurse_Denumire] ON [dbo].[Resurse]
(
	[Denumire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resurse_NumarInventar]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Resurse_NumarInventar] ON [dbo].[Resurse]
(
	[NumarInventar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Specializari_Nume]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Specializari_Nume] ON [dbo].[Specializari]
(
	[Nume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Utilizatori_Email]    Script Date: 15.05.2026 16:31:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Utilizatori_Email] ON [dbo].[Utilizatori]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ratinguri] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AcordatDeMedic]
GO
ALTER TABLE [dbo].[Administratori]  WITH CHECK ADD  CONSTRAINT [FK_Administratori_Utilizatori_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Utilizatori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administratori] CHECK CONSTRAINT [FK_Administratori_Utilizatori_Id]
GO
ALTER TABLE [dbo].[Asistenti]  WITH CHECK ADD  CONSTRAINT [FK_Asistenti_Utilizatori_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Utilizatori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asistenti] CHECK CONSTRAINT [FK_Asistenti_Utilizatori_Id]
GO
ALTER TABLE [dbo].[Autentificari]  WITH CHECK ADD  CONSTRAINT [FK_Autentificari_Utilizatori_UtilizatorId] FOREIGN KEY([UtilizatorId])
REFERENCES [dbo].[Utilizatori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Autentificari] CHECK CONSTRAINT [FK_Autentificari_Utilizatori_UtilizatorId]
GO
ALTER TABLE [dbo].[Consultatii]  WITH CHECK ADD  CONSTRAINT [FK_Consultatii_FiseMedicale_FisaMedicalaId] FOREIGN KEY([FisaMedicalaId])
REFERENCES [dbo].[FiseMedicale] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consultatii] CHECK CONSTRAINT [FK_Consultatii_FiseMedicale_FisaMedicalaId]
GO
ALTER TABLE [dbo].[Consultatii]  WITH CHECK ADD  CONSTRAINT [FK_Consultatii_Medici_MedicId] FOREIGN KEY([MedicId])
REFERENCES [dbo].[Medici] ([Id])
GO
ALTER TABLE [dbo].[Consultatii] CHECK CONSTRAINT [FK_Consultatii_Medici_MedicId]
GO
ALTER TABLE [dbo].[Consultatii]  WITH CHECK ADD  CONSTRAINT [FK_Consultatii_Programari_ProgramareId] FOREIGN KEY([ProgramareId])
REFERENCES [dbo].[Programari] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Consultatii] CHECK CONSTRAINT [FK_Consultatii_Programari_ProgramareId]
GO
ALTER TABLE [dbo].[DependenteResurse]  WITH CHECK ADD  CONSTRAINT [FK_DependenteResurse_Resurse_ResursaCerutaId] FOREIGN KEY([ResursaCerutaId])
REFERENCES [dbo].[Resurse] ([Id])
GO
ALTER TABLE [dbo].[DependenteResurse] CHECK CONSTRAINT [FK_DependenteResurse_Resurse_ResursaCerutaId]
GO
ALTER TABLE [dbo].[DependenteResurse]  WITH CHECK ADD  CONSTRAINT [FK_DependenteResurse_Resurse_ResursaPrincipalaId] FOREIGN KEY([ResursaPrincipalaId])
REFERENCES [dbo].[Resurse] ([Id])
GO
ALTER TABLE [dbo].[DependenteResurse] CHECK CONSTRAINT [FK_DependenteResurse_Resurse_ResursaPrincipalaId]
GO
ALTER TABLE [dbo].[DocumenteMedicale]  WITH CHECK ADD  CONSTRAINT [FK_DocumenteMedicale_Medici_MedicId] FOREIGN KEY([MedicId])
REFERENCES [dbo].[Medici] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DocumenteMedicale] CHECK CONSTRAINT [FK_DocumenteMedicale_Medici_MedicId]
GO
ALTER TABLE [dbo].[DocumenteMedicale]  WITH CHECK ADD  CONSTRAINT [FK_DocumenteMedicale_Pacienti_PacientId] FOREIGN KEY([PacientId])
REFERENCES [dbo].[Pacienti] ([Id])
GO
ALTER TABLE [dbo].[DocumenteMedicale] CHECK CONSTRAINT [FK_DocumenteMedicale_Pacienti_PacientId]
GO
ALTER TABLE [dbo].[FiseMedicale]  WITH CHECK ADD  CONSTRAINT [FK_FiseMedicale_Pacienti_PacientId] FOREIGN KEY([PacientId])
REFERENCES [dbo].[Pacienti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FiseMedicale] CHECK CONSTRAINT [FK_FiseMedicale_Pacienti_PacientId]
GO
ALTER TABLE [dbo].[MedicAsistenti]  WITH CHECK ADD  CONSTRAINT [FK_MedicAsistenti_Asistenti_AsistentiId] FOREIGN KEY([AsistentiId])
REFERENCES [dbo].[Asistenti] ([Id])
GO
ALTER TABLE [dbo].[MedicAsistenti] CHECK CONSTRAINT [FK_MedicAsistenti_Asistenti_AsistentiId]
GO
ALTER TABLE [dbo].[MedicAsistenti]  WITH CHECK ADD  CONSTRAINT [FK_MedicAsistenti_Medici_MediciId] FOREIGN KEY([MediciId])
REFERENCES [dbo].[Medici] ([Id])
GO
ALTER TABLE [dbo].[MedicAsistenti] CHECK CONSTRAINT [FK_MedicAsistenti_Medici_MediciId]
GO
ALTER TABLE [dbo].[Medici]  WITH CHECK ADD  CONSTRAINT [FK_Medici_Utilizatori_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Utilizatori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medici] CHECK CONSTRAINT [FK_Medici_Utilizatori_Id]
GO
ALTER TABLE [dbo].[MedicPacienti]  WITH CHECK ADD  CONSTRAINT [FK_MedicPacienti_Medici_MediciId] FOREIGN KEY([MediciId])
REFERENCES [dbo].[Medici] ([Id])
GO
ALTER TABLE [dbo].[MedicPacienti] CHECK CONSTRAINT [FK_MedicPacienti_Medici_MediciId]
GO
ALTER TABLE [dbo].[MedicPacienti]  WITH CHECK ADD  CONSTRAINT [FK_MedicPacienti_Pacienti_PacientiId] FOREIGN KEY([PacientiId])
REFERENCES [dbo].[Pacienti] ([Id])
GO
ALTER TABLE [dbo].[MedicPacienti] CHECK CONSTRAINT [FK_MedicPacienti_Pacienti_PacientiId]
GO
ALTER TABLE [dbo].[Pacienti]  WITH CHECK ADD  CONSTRAINT [FK_Pacienti_Utilizatori_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Utilizatori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pacienti] CHECK CONSTRAINT [FK_Pacienti_Utilizatori_Id]
GO
ALTER TABLE [dbo].[PerioadeMentenanta]  WITH CHECK ADD  CONSTRAINT [FK_PerioadeMentenanta_Resurse_ResursaId] FOREIGN KEY([ResursaId])
REFERENCES [dbo].[Resurse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerioadeMentenanta] CHECK CONSTRAINT [FK_PerioadeMentenanta_Resurse_ResursaId]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD  CONSTRAINT [FK_Programari_Asistenti_AsistentId] FOREIGN KEY([AsistentId])
REFERENCES [dbo].[Asistenti] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Programari] CHECK CONSTRAINT [FK_Programari_Asistenti_AsistentId]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD  CONSTRAINT [FK_Programari_Medici_MedicId] FOREIGN KEY([MedicId])
REFERENCES [dbo].[Medici] ([Id])
GO
ALTER TABLE [dbo].[Programari] CHECK CONSTRAINT [FK_Programari_Medici_MedicId]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD  CONSTRAINT [FK_Programari_Pacienti_PacientId] FOREIGN KEY([PacientId])
REFERENCES [dbo].[Pacienti] ([Id])
GO
ALTER TABLE [dbo].[Programari] CHECK CONSTRAINT [FK_Programari_Pacienti_PacientId]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD  CONSTRAINT [FK_Programari_Resurse_ResursaId] FOREIGN KEY([ResursaId])
REFERENCES [dbo].[Resurse] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Programari] CHECK CONSTRAINT [FK_Programari_Resurse_ResursaId]
GO
ALTER TABLE [dbo].[Ratinguri]  WITH CHECK ADD  CONSTRAINT [FK_Ratinguri_Medici_MedicId] FOREIGN KEY([MedicId])
REFERENCES [dbo].[Medici] ([Id])
GO
ALTER TABLE [dbo].[Ratinguri] CHECK CONSTRAINT [FK_Ratinguri_Medici_MedicId]
GO
ALTER TABLE [dbo].[Ratinguri]  WITH CHECK ADD  CONSTRAINT [FK_Ratinguri_Pacienti_PacientId] FOREIGN KEY([PacientId])
REFERENCES [dbo].[Pacienti] ([Id])
GO
ALTER TABLE [dbo].[Ratinguri] CHECK CONSTRAINT [FK_Ratinguri_Pacienti_PacientId]
GO
ALTER TABLE [dbo].[ResursaSpecializare]  WITH CHECK ADD  CONSTRAINT [FK_ResursaSpecializare_Resurse_ResurseId] FOREIGN KEY([ResurseId])
REFERENCES [dbo].[Resurse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResursaSpecializare] CHECK CONSTRAINT [FK_ResursaSpecializare_Resurse_ResurseId]
GO
ALTER TABLE [dbo].[ResursaSpecializare]  WITH CHECK ADD  CONSTRAINT [FK_ResursaSpecializare_Specializari_SpecializariId] FOREIGN KEY([SpecializariId])
REFERENCES [dbo].[Specializari] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResursaSpecializare] CHECK CONSTRAINT [FK_ResursaSpecializare_Specializari_SpecializariId]
GO
ALTER TABLE [dbo].[Resurse]  WITH CHECK ADD  CONSTRAINT [FK_Resurse_Administratori_AdministratorId] FOREIGN KEY([AdministratorId])
REFERENCES [dbo].[Administratori] ([Id])
GO
ALTER TABLE [dbo].[Resurse] CHECK CONSTRAINT [FK_Resurse_Administratori_AdministratorId]
GO
USE [master]
GO
